body {
  margin: 0;
  padding: 0;
  background: #f6f7f8;
  color: #2d3047;
}

li {
  font-size: 15px
}

a {
  text-decoration: none;
  color: #1e1e24;
}

a:hover {
  text-decoration: underline !important;
}

hr {
  margin-top: 3px;
  margin-bottom: 5px
}

.empty{
  margin-top: 10px;
  text-align: center;
  display: none;
}

.noSelect{
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.medium {
  color: red;
}

.tensorflow{
  color: #f89c00;
}

#clearLink {
  margin-left: 5px;
}

#clearLink:hover {
  text-decoration: underline;
  cursor: pointer;
}


.currentproject {
  color: #585DFF
}

.kaggle {
  color: rgb(32, 190, 255)
}

.indexValue {
  font-style: italic;
}

.rhsintro {
  margin: 0px
}

.projectCat {
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.searchTitle {
  display: inline;
  margin-bottom: 0px;
  margin-right: 10px;
}

.emptyhr {
  margin-top: 7px
}

.showMore:hover {
  text-decoration: underline;
  cursor: pointer;
}

.showmore {
  display: none;
}

.language:hover {
  text-decoration: underline;
  cursor: pointer;

}

.resume {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  min-width: 800px
}

.item {
  margin-left: 10px;
  margin-top: 10px
}

.profile {}

.item-text {}

.category-title {
  margin: 0px 0px 5px 0px;
  /* color: #f4989c */
  color: #FF686D

}

.Intellimind {
  color: #00b0c8 !important;
}

.unlvASC {
  color: #FF6D72 !important;
}

.codecentral {
  /* color: #ffc300 !important; */
  color: #297ce4 !important;
}

.idtech {
  color: #65c96b !important;
}

.unlvit {
  color: #777 !important;
}

.mesquite {
  color: #5d965d !important;
}

.item-header {
  margin: 0px 10px;
}

.title-text {
  display: inline-block;
}

.workplace {
  /* margin: 10px 0px 0px 0px; */
  margin: 0px 0px 0px 0px;
}

.workplace a {
  text-decoration: none;
  color: #1e1e24;
}

.role {
  /* margin: 0px 0px 10px 0px; */
  margin: 0px 0px 0px 0px;
}

.item-date {
  display: inline-block;
  float: right;
}

.resume-date {
  display: inline-block;
  float: right;
  text-align: right;
  font-size: 16px
}

.resume-date a {
  color: #1e1e24;
  text-decoration: none;
}

.item-objective-list {
  margin: 0px 0px 0px 0px;
  width: 90%;
}

.footer {
  height: 100px;
}

.showMore {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 10px;
}


.resume-header {
  height: 90px;
}

.highlight{
  /* color: #20a4f3 !important; */
  font-style: italic;
}

.myName {
  color: #20a4f3 !important;
}

.languages {
  color: #20a4f3 !important;
  font-weight: 500;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.firsthr {
  margin-top: 14px;
}

.search:focus{
  width:275px;
}

.search {
  /* border-width: 1px; */
  /* background-color: inherit; */
  padding-left: 1px;
  margin-top: 7px;
  height: 25px;
  /* width: 150px; */
  width: 275px;
  font-size: 14px;
  /* transition:0.3s; -webkit-transition: 0.3s; */
    /* margin-bottom: 4px; */
}
