body {
  margin: 0;
  padding: 0;
  /* background: #fdfdfd; */
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline !important;
}

.resume {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  max-width: 800px
}

.item {
  margin-left: 10px
}

.profile {}

.item-text {}

.category-title {
  margin: 10px 0px 0px 0px;
}

.item-header {
  margin: 0px 10px;
}

.title-text {
  display: inline-block;
}

.workplace {
  margin: 10px 0px 0px 0px;
}

.workplace a {
  text-decoration: none;
  color: #090c08;
}

.role {
  margin: 0px 0px 10px 0px;
}

.item-date {
  display: inline-block;
  float: right;
}

.resume-date {
  display: inline-block;
  float: right;
  text-align: right;
}

.resume-date a {
  color: black;
  text-decoration: none;
}

.item-objective-list {
  margin: 0px 0px 10px 0px;
}

.footer {
  height: 100px;
}

.resume-header {
  height: 78px;
}