svg  {
    fill: #222222;   /* base country color */
    stroke: #E5C163; /* base country border color */
    stroke-width: .05; /* base country border width */
}

body {
    background-color: #282828;
}
